.App {
  text-align: center;
  padding: 0 16px 16px 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #F6F7F9;
}

.jungle-scout-logo {
  width: 30%;
  margin: 0 auto;
  padding: 16px;
}
.header-container {
  background: #ffffff;
  border: #ECEDEF 1px solid;
  padding: 10px;
}

.error-message-container {
  padding-top: 16px;
}

.product-table-container {
  padding-top: 16px;
}

.asin-input-container {
  background: #ffffff;
  border: #ECEDEF 1px solid;

  h4 {
    display: inline-block;
    margin: 0;
    padding-right: 15px;
  }

  .ui.form {
    padding: 15px 15px 0 15px;
  }

  .asin-input {
    display: inline-block;
    padding-right: 10px;
    margin: 0 auto;
  }
  
  .ui.button.asin-submit-btn {
    background: #F57706;
    color: #ffffff;
    margin: 0 auto;
  }
}

